<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head th:replace="~{layout/header :: commonHead(title='로그인')}"></head>

<body>
    <div class="container mt-5" style="max-width: 500px;">
        <div class="card shadow-sm">
            <div class="card-body p-5">
                <h2 class="card-title text-center mb-4">
                    <i class="bi bi-book-half"></i> 마당서점 로그인
                </h2>
            
                 <div th:if="${param.logout}" class="alert alert-success" role="alert">
                    성공적으로 로그아웃되었습니다.
                </div>
                
                <p class="text-muted mb-4">카카오 계정으로 간편하게 로그인하세요.</p>                
            	
				<a href="/oauth2/authorization/kakao" class="btn btn-warning w-100 py-3 fw-bold" style="background-color: #FEE500; border: none; color: #191919;">            		<i class="bi bi-chat-fill me-2"></i> 카카오 로그인
            	</a>
            
            </div>
        </div>
    </div>

    <th:block th:replace="~{layout/footer :: commonScripts}"></th:block>
</body>
</html>
