<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    
    <select id="countList" parameterType="map" resultType="int">
        SELECT COUNT(*)
          FROM book
        <if test="keyword != null and keyword != ''">
	  		WHERE bookname LIKE CONCAT('%', #{keyword}, '%')
	  		   OR publisher LIKE CONCAT('%', #{keyword}, '%')
	  		   OR author LIKE CONCAT('%', #{keyword}, '%')
	  	</if>
    </select>
    
	<select id="getList" resultType="board" parameterType="map">
	  	SELECT bookid,
	  	   	   bookname,
	  	   	   publisher,
	  	   	   price,
	  	   	   author,
	  	   	   stock,
	  	   	   cover_image_path 
	  	  FROM book
	  	  
	  	<!-- 검색 조건 -->
	  	<if test="keyword != null and keyword != ''">
	  		WHERE bookname LIKE CONCAT('%', #{keyword}, '%')
	  		   OR publisher LIKE CONCAT('%', #{keyword}, '%')
	  		   OR author LIKE CONCAT('%', #{keyword}, '%')
	  	</if>
	  	
	  	<!-- 정렬 -->
	    ORDER BY
	    <choose>
	        <when test="sort == 'bookname'"> bookname </when>
	        <when test="sort == 'publisher'"> publisher </when>
	        <when test="sort == 'author'"> author </when>
	        <when test="sort == 'price'"> price </when>
	        <when test="sort == 'stock'"> stock </when>
	        <otherwise> bookid </otherwise>
	    </choose>
	    <choose>
	        <when test="order == 'desc'"> DESC </when>
	        <otherwise> ASC </otherwise>
	    </choose>
	    
	    LIMIT #{offset}, #{limit}
	</select>
	  
	<insert id="save" parameterType="board">
		  INSERT INTO book ( 
		  					 bookname, 
		  					 publisher, 
		  					 price,
		  					 author,
		  					 stock,
		  					 description,
		  					 cover_image_path 
		  					 )
		  		VALUES	   ( #{bookname}, 
		  					 #{publisher}, 
		  					 #{price},
		  					 #{author},
		  					 #{stock},
		  					 #{description},
		  					 #{coverImagePath} 
		  					 )	  
	</insert>
	  
	<select id="detail" parameterType="int" resultType="board">
	  	SELECT * FROM book
	     WHERE bookid = #{id} 
	</select>
	  
	<delete id="goDelete" parameterType="int">
	  	DELETE FROM book WHERE bookid = #{id}
	</delete>
	
	<update id="decreaseStock" parameterType="int">
		UPDATE book
		   SET stock = stock - 1
		 WHERE bookid = #{bookid} AND stock > 0
	</update>
	  
	<update id="goUpdate" parameterType="board">
	  	  UPDATE book
	  	  	 SET bookname   = #{bookname},
	  	  	 	 publisher  = #{publisher},
	  	  	 	 price	    = #{price},
	  	  	 	 author     = #{author},
	  	  	 	 stock      = #{stock},
	  	  	 	 description = #{description},
	  	  	 	 cover_image_path = #{coverImagePath} 
	  	   WHERE bookid     = #{bookid}
	</update>
	  
</mapper>

